<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
<link rel="stylesheet" type="text/css" href="/components/style.css"/>
    <title>Log in</title>
  </head>
  <body>
    <!--Login section-->
    <section id="login" class="d-flex align-items-center justify-content-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 m-auto">
              <div class="card m-1">
                <div class="card-header text-success text-center">
                  <h2>Log in</h2>
                  <img src="/images/image3.jpg" class="card-img-top" styele="width:50%;height:50%;" alt="...">
                </div>
                
                <div class="card-body ">              
                
                    <label for="username" class="card-title text-sm">Username</label>
                    <input id="username" type="text" class="form-control" placeholder="Username">
                    <label for="password" class="card-title text-sm">Password</label>
                    <input id="password" type="password" class="form-control" placeholder="Password">                
                    <button class="btn btnColor text-white m-1 " type="button" onclick="location.href='dashboard.html'">Login</button>
                    <div class=" row d-flex align-items-center justify-content-center">
                      <label for="sign up" class="card-title text-sm text-danger">Don't have an account?</label>
                      <button class="btn btnColor text-white m-1" id="signup" onclick="location.href='/components/signup.html'">Sign up</button>
                    </div>
                 </div>
            </div>
          </div>
        </div>
    </section> 

  </body>
</html>
