<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

    <title>Sign up</title>
  </head>
  <body>
    <!--Sign up form-->
    <section class="d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="card m-1">
              <div class="card-title text-primary text-center">
                <h3>Product details</h3>
              </div>
              <img src="/images/image3.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <label for="productType" class="card-title text-sm"
                  >Product Type</label
                >
                <select class="form-control">
                  <option value="1">Clothing</option>
                  <option value="2">Footware</option>
                  <option value="3">Accessories</option>
                </select>
                <div class="row">
                  <div class="col-lg-4">
                    <label for="name" class="card-title text-sm"
                      >Product name</label
                    >
                    <input
                      id="name"
                      type="text"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                  <div class="col-lg-4">
                    <label for="price" class="card-title text-sm"
                      >Product price</label
                    >
                    <input
                      id="price"
                      type="number"
                      class="form-control"
                      placeholder="Price"
                    />
                  </div>
                  <div class="col-lg-4">
                    <label for="noItems" class="card-title">No of items</label>
                    <input id="noItems" type="number" class="form-control" />
                  </div>
                </div>
                <label for="image" class="card-title text-sm"
                  >Product image</label
                >
                <form class="row">
                  <div class="col-sm-12">
                    <div id="preview"></div>
                    <input
                      type="file"
                      class="btn form-control"
                      id="productImage"
                      onchange="previewImage(event)"
                    />
                  </div>
                </form>
                <label for="description" class="card-title text-sm"
                  >Product description</label
                >
                <input id="description" type="text" class="form-control" />
                <button class="btn btn-primary m-1" type="submit">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
