.navbar-nav i {
    font-size: 1em;
  }

  .navbar-toggler-icon {
    color: #ffffff ;
  }
  .bgColor{
    background-color:#003600;
  }
  
  .btnColor{
    background-color:#003600;
  }
  .bgBody{
    background-color:#004d00
    }